In [51]:
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
data = pd.read_csv('FlightTime.csv')
cols = data.columns
cols

Index(['Flight Date', 'Carrier', 'Flight Number', 'Origin', 'Destination',
       'Departure Time', 'Departure Delay', 'Arrival Time', 'Arrival Delay',
       'Flight Time'],
      dtype='object')

In [22]:
new_data = data

for i in range(len(new_data['Flight Time'])):
    if new_data['Flight Time'][i] <= 230:
        new_data = new_data.drop(i)
new_data = new_data.reset_index().drop('index', axis=1)

In [24]:
new_data

,Flight Date,Carrier,Flight Number,Origin,Destination,Departure Time,Departure Delay,Arrival Time,Arrival Delay,Flight Time
0,11/1/2015,AA,111,ORD,LAX,1709.0,-1.0,1952.0,2.0,283
1,11/1/2015,AA,1092,ORD,LAX,2021.0,-4.0,2243.0,-20.0,262
2,11/1/2015,AA,1081,ORD,LAX,841.0,-4.0,1052.0,-33.0,251
3,11/1/2015,AA,1243,ORD,LAX,705.0,-5.0,919.0,-31.0,254
4,11/1/2015,AA,1358,ORD,LAX,1508.0,-2.0,1739.0,-10.0,271
...,...,...,...,...,...,...,...,...,...,...
723,11/30/2015,UA,793,ORD,LAX,1610.0,3.0,1827.0,-16.0,257
724,11/30/2015,UA,1098,ORD,LAX,611.0,-5.0,829.0,-25.0,258
725,11/30/2015,UA,1440,ORD,LAX,2247.0,97.0,101.0,75.0,254
726,11/30/2015,VX,231,ORD,LAX,732.0,32.0,957.0,22.0,265
727,11/30/2015,VX,241,ORD,LAX,1715.0,5.0,1940.0,-5.0,265

In [18]:
def target_flight_time(d, lo, ld):
    return 0.117*d+.517*(lo-ld)+20

In [19]:
tft = target_flight_time(1741.16, -87.9, -118.41)

In [37]:
total_time_dict = {'airline':[], 'total_time':[]}

for i in range(len(new_data['Carrier'])):
    total_time_dict['airline'] += [new_data['Carrier'][i]]
    total_time_dict['total_time'] += [new_data['Departure Delay'][i]/2+new_data['Arrival Delay'][i]/2+new_data['Flight Time'][i]]

In [56]:
total_time_df = pd.DataFrame(data=total_time_dict)
mean_total_time = total_time_df['total_time'].mean()
mean_total_time

280.2541208791209

In [45]:
airlines = []

for airline in new_data['Carrier']:
    if airline not in airlines:
        airlines += [airline]
        
airlines

['AA', 'F9', 'NK', 'UA', 'VX']

In [59]:
flight_times = {}
mean_flight_times = {}
added_time = {}

for airline in airlines:
    flight_times[airline] = []
    
for i in range(len(total_time_df)):
    flight_times[total_time_df['airline'][i]] += [total_time_df['total_time'][i]]
    
for airline in flight_times:
    mean = np.mean(np.array(flight_times[airline]))
    mean_flight_times[airline] = mean
    added_time[airline] = mean-mean_total_time

mean_flight_times, added_time

({'AA': 275.9630281690141,
  'F9': 293.6034482758621,
  'NK': 283.54237288135596,
  'UA': 284.75671140939596,
  'VX': 268.11206896551727},
 {'AA': -4.2910927101067955,
  'F9': 13.349327396741216,
  'NK': 3.288252002235083,
  'UA': 4.502590530275086,
  'VX': -12.14205191360361})