In [1]:
import pandas as pd
import datetime as dt

In [2]:
data = pd.read_csv('FlightTime.csv')
cols = data.columns
cols

Index(['Flight Date', 'Carrier', 'Flight Number', 'Origin', 'Destination',
       'Departure Time', 'Departure Delay', 'Arrival Time', 'Arrival Delay',
       'Flight Time'],
      dtype='object')

In [3]:
new_data = data

for i in range(len(new_data['Flight Time'])):
    if new_data['Flight Time'][i] <= 230:
        new_data = new_data.drop(i)

In [4]:
new_data.reset_index().drop('index', axis=1)

,Flight Date,Carrier,Flight Number,Origin,Destination,Departure Time,Departure Delay,Arrival Time,Arrival Delay,Flight Time
0,11/1/2015,AA,111,ORD,LAX,1709.0,-1.0,1952.0,2.0,283
1,11/1/2015,AA,1092,ORD,LAX,2021.0,-4.0,2243.0,-20.0,262
2,11/1/2015,AA,1081,ORD,LAX,841.0,-4.0,1052.0,-33.0,251
3,11/1/2015,AA,1243,ORD,LAX,705.0,-5.0,919.0,-31.0,254
4,11/1/2015,AA,1358,ORD,LAX,1508.0,-2.0,1739.0,-10.0,271
...,...,...,...,...,...,...,...,...,...,...
723,11/30/2015,UA,793,ORD,LAX,1610.0,3.0,1827.0,-16.0,257
724,11/30/2015,UA,1098,ORD,LAX,611.0,-5.0,829.0,-25.0,258
725,11/30/2015,UA,1440,ORD,LAX,2247.0,97.0,101.0,75.0,254
726,11/30/2015,VX,231,ORD,LAX,732.0,32.0,957.0,22.0,265
727,11/30/2015,VX,241,ORD,LAX,1715.0,5.0,1940.0,-5.0,265

In [ ]:
def target_flight_time()